root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
# C# Coding Conventions
dotnet_diagnostic.RCS1003.severity = warning # Add braces to if-else statement.
dotnet_diagnostic.RCS1036.severity = warning # Remove redundant empty line.
dotnet_diagnostic.RCS1080.severity = warning # Use 'Count/Length' property instead of 'Any()' method.
dotnet_diagnostic.RCS1141.severity = warning # Add question mark to null-check.
dotnet_diagnostic.RCS1163.severity = warning # Unused parameter.
dotnet_diagnostic.RCS1169.severity = warning # Make field read-only.
dotnet_diagnostic.RCS1213.severity = warning # Remove unused member declaration.

# ROSLYNATOR
# See: https://github.com/dotnet/roslynator/blob/main/docs/analyzers/README.md
